/*#zuo{*/
    /*background: url("../images/xiaojingling.png") -10px 9px;*/
    /*margin-left: 140px;*/
    /*margin-top: 205px;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*float: left;*/
/*}*/
#zuo{
    position: absolute;
    left: -33px;
    background: url("../images/xiaojingling.png") -10px 9px;
    width: 60px;
    height: 60px;
    top: 170px;
}
#you{
    position: absolute;
    background: url("../images/xiaojingling.png") -78px 9px;
    width: 60px;
    height: 60px;
    top: 170px;
    right: -15px;
}
/*#you{*/
    /*background: url("../images/xiaojingling.png") -78px 9px;*/
    /*margin-right: 180px;*/
    /*margin-top: 205px;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*float: right;*/
    /*z-index: 666;*/
    /*position: absolute;*/
/*}*/
#lunbotu{
    margin-top: -300px;
    float: left;
    margin-left: 100px;
    width:780px;
    height: 450px;
    overflow: hidden;
    position: absolute;
  top: 280px;
}
#banner{
    height: 409px;
    background: #31333e;
    overflow: hidden;
    position: relative;
}
#b-banner{
    width: 1002px;
    height: 409px;
    /*background: red;*/
    /*margin: 0 139px;*/
    position: absolute;
    left: 175px;
}