<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/users/checklogin" method="post">   <!--这个也是我要跳转到哪个页面，利用post的方式-->
    <p>
        用户名：<input type="text" name="username"/>
    </p>
    <p>
        密码: <input type="password" name="psd"/>
    </p>
    <p>
        <input type="submit" value="login"/>
    </p>
</form>
</body>
</html>